<a href="https://colab.research.google.com/github/ugemre/ugedata.github.io/blob/main/NFL_Regression_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#National Football League Regression Model Project

#**Introduction:**

Aim of this project is creating a **Regression Model** usin National Football League data set. Project consists of 8 steps.


**Step-1   Understanding Data and Data Preparation:**

  We will get the NFL dataset and shape it for advance analysis.columns.

**Step-2   Exploratory Data analysis:** 

We will find the mean, median, standard deviation of data and correlation matrix.

**Step-3   Data Visualization:**

**Step-4   Feature Engineering:**

**Step-5   Model Selection:**


**1. Data Preparation:**

In [1]:
# Import initial packeages
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [3]:
# Read data
data_path = "/content/sample_data/california_housing_train.csv"
data = pd.read_csv(data_path)

In [5]:
# Head of data
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [6]:
# Shape of data
data.shape

(17000, 9)

In [10]:
# Basic Statistics
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB